<footer class="footer">
  <img src="assets/images/Logo.png" alt="Alura Plus" class="logo">
  <ul class="list">
    <li *ngFor="let link of links" class="link">
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
  </ul>
  <p class="text">® 2021 Alura, Alura+ e Alura Língua. Todos os direitos reservados. Serviço de assinatura paga.
    Conteúdo sujeito a
    disponibilidade.</p>
  <p class="text">Alura+ é um serviço pago, baseado em assinatura e sujeito a termos e condições. O serviço Alura+ é
    comercializado
    por Aovs Sistemas de Informática S.A., Rua Vergueiro, 3185 - Liberdade, São Paulo - SP, 04101-300, Brasil e CNPJ
    05.555.382/0001-33</p>
</footer>