body {
  background: $background;
  color: $white-primary;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.main {
  background-image: url(../assets/images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}