.button {
  display: block;
  border-radius: 8px;
  padding: 1em;
  color: $white-primary;
  text-decoration: none;
  margin-bottom: 1em;
}

.button-primary {
  background-color: $blue-primary;
}

.button-secondary {
  background: transparent;
  border: 1px solid $white-primary;
}