.devices {
  text-align: center;

  .title {
    font-size: 48px;
  }

  .list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0 10em;

    .list-item {
      font-size: 32px;
    }
  }
}