.hero {
  @extend .sections;
  background-image: url(../assets/images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;

  .container {
    margin: 0 6em;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
  }

  .disclaimer {
    font-size: 12px;
    color: $grey-secondary;
  }

  .image {
    margin: 1em 0 2em 0;
  }
}